# Overview Notebook
## Dataset questions 
    -count of dataset directories
    -files within each dataset directory
        * does each directory have 1 dataset as a csv a README.md and a datapackage.json
        * A README.md containing the datasets description
        * if not what is in each directory
        * search each directory if it contains subdirectories and determine its content    
    - return JSON object for directories that do not have a 1 csv 1 README.md and a datapackage.json in it.
    -for sets make structural checks for analysis
        * Organize the dtypes of each dataset into a dataframe
        * check shape
        * if dataset contains world data check to see which countries are generally underrepresented

     -for checking all datasets
        * check to see the primary, secondary and tertiary modes for Year Column range for all sets (maybe represent this as a histogram)
     -for handling mixed datatypes at the series level
         *TBD
      for datapackage.jsons
          *Create a csv containing source links,id,name published by

## Analysis

    -Create sentiment analysis of datasets determining the best and worse years based on a scoring system
    - exploratory analysis 
        * TBD
    - linear plot of the score over the primary secondary and tertiary mode Year ranges
    - find a way to weigh each dataset according to impact level
        * A library may exist for this
     - cleaning process
         * TBD
### Primary Extraction
## ML Processing
    -TBD

In [1]:
from glob import glob
from os import path
import os
import pandas as pd
import numpy as np
from src.visualization.visualize import *
from src.data.make_dataset import *
import subprocess
import json  

#DATASETS = "../owid-datasets/datasets/*"

In [26]:
dataset_dir_cnt=0
for i in glob(DATASETS):
    dataset_dir_cnt+=1
print(dataset_dir_cnt)
for dataset in glob(DATASETS+'*'):
    if len(os.listdir(dataset))!=3:
           print(dataset.split('/')[-1],len(os.listdir(dataset)))
# get json return json
# look for links in load return links as comma separated string
# main will loop through ds's get json look for links create csk
all_entity_df={}
all_year_df={}
for dataset_file in glob(DATASETS+'/*/*'):
    if dataset_file.endswith('.csv'):
        df=pd.read_csv(dataset_file)
        if 'Entity' in df.columns:
            entities=df['Entity'].unique()
            all_entity_df[os.path.basename(dataset_file.replace('.csv',''))]=entities
        else:
            all_entity_df[os.path.basename(dataset_file.replace('.csv',''))]=None
        if 'Year' in df.columns:
            entities=df['Year'].unique()
            all_year_df[os.path.basename(dataset_file.replace('.csv',''))]=entities
        else:
            all_year_df[os.path.basename(dataset_file.replace('.csv',''))]=None
for key, value in  all_entity_df.items():
    value.sort()
    
            
        
        
        
        
country_names=['Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Cyprus', 'Czech Republic',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji',
       'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Greenland', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macedonia',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North Korea', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia',
       'Zimbabwe']

country_name_count={}
year_count_dict={}

for key, value in  all_entity_df.items():
    for cn in value:
        if cn in country_names:
            if cn in country_name_count.keys():
                country_name_count[cn]+=1
            else:
                country_name_count[cn]=1
for key, value in  all_year_df.items():
    for year in value:
        if year in country_name_count.keys():
            country_name_count[year]+=1
        else:
            country_name_count[year]=1   
year_df =pd.DataFrame(data=country_name_count.items(), columns= ['year','year_cnt'])

year_df=year_df.sort_values('year_cnt')

1
datasets 993

In [29]:
year_df.tail(60)

               year  year_cnt
2         Argentina       457
136     Philippines       460
80          Ireland       461
135            Peru       461
167     Switzerland       463
192            1980       463
42   Czech Republic       463
44          Denmark       465
5           Austria       470
74          Hungary       472
77        Indonesia       473
32            China       474
12          Belgium       475
159    South Africa       476
56          Finland       476
33         Colombia       480
137          Poland       483
4         Australia       484
127          Norway       485
84            Japan       486
20           Brazil       487
179          Turkey       487
31            Chile       488
28           Canada       489
120     Netherlands       491
76            India       493
161           Spain       496
62          Germany       497
203            1991       497
226            2015       498
204            1992       499
82            Italy       500
205            1993       502
166          Sweden       503
206            1994       504
208            1997       505
109          Mexico       506
57           France       508
207            1996       515
181  United Kingdom       516
209            1998       518
225            2014       522
210            1999       529
212            2001       539
214            2003       545
213            2002       555
215            2004       556
224            2013       560
217            2006       563
223            2012       564
218            2007       566
222            2011       570
182   United States       573
219            2008       575
220            2009       576
233            1995       582
202            1990       592
216            2005       645
211            2000       657
221            2010       673

In [ ]:
country_name_count.items()
cn_df=pd.DataFrame(data=country_name_count.items(),columns=['entity','entity_cnt'])
cn_df.head()

In [ ]:
cn_df=cn_df.sort_values('entity_cnt',ascending=True)

In [ ]:
cn_df.head()

In [ ]:
get_barplot(cn_df.head(20),'entity','entity_cnt',title='Least represented countries in OWID dataset')

In [ ]:
get_barplot(cn_df.tail(20),'entity','entity_cnt',title='Most represented countries in OWID dataset')

In [20]:
get_barplot(cn_df.tail(20),'year','year_cnt',title='')

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['entity', 'entity_cnt'] but received: year

In [ ]:
df=generate_datapackage_csv(DATASETS)
df.head(20)

In [9]:
ds_dict = get_ds_dict(DATASETS)
df_cols = get_df_cols(ds_dict)

In [10]:
col_to_uniq = get_col_to_uniq(df_cols)
col_to_dtype = get_col_to_dtype(col_to_uniq)

In [11]:
overwrite = {'Forest Transition Phase': 'object'}

# don't have to create a blank df with a do_while
do_while = 0
for ds in glob(DATASETS+'/*'):
    do_while += 1
    if do_while == 1:
        ds = os.path.basename(ds)
        df = load_data(ds)
        df = df.set_index(["Entity", "Year"])
        df = apply_data_hierarchy(df, col_to_dtype, overwrite=overwrite)
        continue
        
    ds = os.path.basename(ds)
    df2 = load_data(ds)
    df2 = df2.set_index(["Entity", "Year"])
    
    overwrite['ds_name'] = ds
    df2 = apply_data_hierarchy(df2, col_to_dtype, overwrite=overwrite)
    
    try:
        df = pd.merge(df, df2, how='left', on=["Entity", "Year"])
    except ValueError:
        print("MergeError:", ds)

MergeError: Cumulative share of marriages ending in divorce (England and Wales, UK ONS)

In [12]:
df_back = df.copy()

In [13]:
df2 = load_data('Cumulative share of marriages ending in divorce (England and Wales, UK ONS)')

In [14]:
retry_df = apply_data_hierarchy(df2, col_to_dtype, overwrite={"Year": "object"})
dataset_all_df=pd.merge(df, retry_df, how='left', on=["Entity", "Year"])