# Overview Notebook
## Dataset questions 
    -count of dataset directories
    -files within each dataset directory
        * does each directory have 1 dataset as a csv a README.md and a datapackage.json
        * A README.md containing the datasets description
        * if not what is in each directory
        * search each directory if it contains subdirectories and determine its content    
    - return JSON object for directories that do not have a 1 csv 1 README.md and a datapackage.json in it.
    -for sets make structural checks for analysis
        * Organize the dtypes of each dataset into a dataframe
        * check shape
        * if dataset contains world data check to see which countries are generally underrepresented

     -for checking all datasets
        * check to see the primary, secondary and tertiary modes range for all sets (maybe represent this as a histogram)
     -for handling mixed datatypes at the series level
         *TBD
      for datapackage.jsons
          *Create a csv containing source links,id,name published by

## Analysis

    -Create sentiment analysis of datasets determining the best and worse years based on a scoring system
    - exploratory analysis 
        * TBD
    - linear plot of the score over the primary secondary and tertiary mode Year ranges
    - find a way to weigh each dataset according to impact level
        * A library may exist for this
     - cleaning process
         * TBD
### Primary Extraction
## ML Processing
    -TBD

In [12]:
from glob import glob
from os import path
import os
import pandas as pd
import numpy as np
from src.visualization.visualize import *
from src.data.make_dataset import *
import subprocess
import json  

#DATASETS = "../owid-datasets/datasets/*"

In [13]:
dataset_dir_cnt=0
for i in glob(DATASETS):
    dataset_dir_cnt+=1
print(dataset_dir_cnt)
for dataset in glob(DATASETS+'*'):
    if len(os.listdir(dataset))!=3:
           print(dataset.split('/')[-1],len(os.listdir(dataset)))
# get json return json
# look for links in load return links as comma separated string
# main will loop through ds's get json look for links create csk

1
datasets 993

In [14]:
=

In [15]:
df=generate_datapackage_csv(DATASETS)
df.head()

,id,title,source_links
0,2723,Ozone hole area and concentration - NASA,http://ozonewatch.gsfc.nasa.gov/meteorology/an...
1,4886,"CO2 emissions factors of energy sources (IPCC,...",https://www.ipcc.ch/site/assets/uploads/2018/0...
2,408,CO2 intensity- (kgCO2/2011-$ PPP)- World Bank,None
3,588,Prevalence of weight categories in females - N...,http://www.ncdrisc.org/index.html
4,4136,Political Regimes — V-Dem (2019),https://www.v-dem.net/en/data/data-version-9/

In [16]:
ds_dict = get_ds_dict(DATASETS)
df_cols = get_df_cols(ds_dict)

In [17]:
col_to_uniq = get_col_to_uniq(df_cols)
col_to_dtype = get_col_to_dtype(col_to_uniq)

In [18]:
overwrite = {'Forest Transition Phase': 'object'}

# don't have to create a blank df with a do_while
do_while = 0
for ds in glob(DATASETS+'/*'):
    do_while += 1
    if do_while == 1:
        ds = os.path.basename(ds)
        df = load_data(ds)
        df = df.set_index(["Entity", "Year"])
        df = apply_data_hierarchy(df, col_to_dtype, overwrite=overwrite)
        continue
        
    ds = os.path.basename(ds)
    df2 = load_data(ds)
    df2 = df2.set_index(["Entity", "Year"])
    
    overwrite['ds_name'] = ds
    df2 = apply_data_hierarchy(df2, col_to_dtype, overwrite=overwrite)
    
    try:
        df = pd.merge(df, df2, how='left', on=["Entity", "Year"])
    except ValueError:
        print("MergeError:", ds)

MergeError: Cumulative share of marriages ending in divorce (England and Wales, UK ONS)

In [19]:
df_back = df.copy()

In [10]:
df2 = load_data('Cumulative share of marriages ending in divorce (England and Wales, UK ONS)')

In [11]:
retry_df = apply_data_hierarchy(df2, col_to_dtype, overwrite={"Year": "object"})
dataset_all_df=pd.merge(df, retry_df, how='left', on=["Entity", "Year"])