# Overview of data columns
Programatically sort out data columns

In [1]:
from glob import glob
from os import path
import os
import pandas as pd
import numpy as np

In [4]:
DATASETS = "../owid-datasets/datasets/*"

def load_data(ds):
    return pd.read_csv(os.path.join("../owid-datasets/datasets/", ds, ds + ".csv"))

In [4]:
ds_dict = {}
ds_shapes = []
all_dtypes = []
for ds in glob(DATASETS):
    ds = os.path.basename(ds)
    df = load_data(ds)
    ds_dict[ds] = df.dtypes
    all_dtypes.extend(df.dtypes)
    ds_shapes.append(df.shape)

In [5]:
all_dtypes = np.array([str(v) for v in set(all_dtypes)])

In [6]:
# How many of these datasets have a year col?
print(sum([1 if "Year" in v else 0 for v in ds_dict.values()]))

992

In [7]:
# How many datasets have a entity col?
print(sum([1 if "Entity" in v else 0 for v in ds_dict.values()]))

992

# Organize the dtypes of each dataset into a dataframe

In [8]:
# create empty df to insert the dtypes for each
from itertools import chain 
y_dim =  set((chain(*[dtypes.index for dtypes in ds_dict.values()])))
x_dim = ds_dict.keys()
df_cols = pd.DataFrame(index=x_dim, columns=y_dim)
df_cols = df_cols.astype('object')
df_cols.head()

,Second child SRB (Jiang et al. 2017),CO2 emissions (OWID based on World Bank),WHO Region (GPEI (2017)),Number of peacekeeping missions (United Nations Peacekeeping),Survivors,Solar (% primary direct energy),"Vitamin A deficiency (IHME, 2019)",Plastic exports to China (tonnes),"Land-Use Change and Forestry (per capita) (CAIT, 2020)",Population without access to improved sanitation,...,"Time spent on household work, female (Statistics Norway)",Share of GDP spent on healthcare,Geothermal total installed costs (2018 USD/kW),Suicide rate - 45-49 years (Female),Causes of death for infant boys (<1 year) (IHME),total_forest_loss,"Health Expenditure, Public Share (World Bank (WDI) (2016))",70+ (UN Population Division (2015)),New pulmonary smear positive cases: females aged 45-54 years (not used after 2012) (new_sp_f4554),Mixed (cents/lb) (Daniel Sichel (2017))
"Genuine saving estimates by various measures - Blum, Ducoing, McLaughlin (2017)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OECD Social Spending- Other social policy areas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Postage rates - United States Postal Service (2018),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Maddison region definitions (Maddison (2010)),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Active tuberculosis - IHME (2017),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# enter rows to df_cols (index is the dataset, columns are all the fields in every dataset, column values are what dtype the column is) from ds_dict. 
for ds, cols in ds_dict.items():
    # df_cols[ds, cols.index] = [str(c) for c in cols.values]
    cols = cols.astype('object')
    #print(ds in df_cols.index)
    #print(df_cols[cols.index])
    
    df_cols.loc[ds, cols.index] = cols

In [12]:
# check for cases where there are more than 2 unique values
s = df_cols.describe(include='all').loc['unique', :]
s = s[s > 1]

In [16]:
# Create a dict from the co to the list of unique values in that column
for c in s.index:
    print(df_cols.loc[:, c].unique())

[nan dtype('int64') dtype('float64')]
[nan dtype('float64') dtype('int64')]
[nan dtype('int64') dtype('float64')]
[nan dtype('int64') dtype('float64')]
[nan dtype('int64') dtype('float64')]
[nan dtype('int64') dtype('float64')]
[dtype('int64') dtype('O')]
[nan dtype('int64') dtype('float64')]
[nan dtype('int64') dtype('float64')]
[nan dtype('int64') dtype('float64')]
[nan dtype('float64') dtype('int64')]
[nan dtype('int64') dtype('float64')]
[nan dtype('int64') dtype('float64')]
[nan dtype('int64') dtype('O')]
[nan dtype('float64') dtype('int64')]
[nan dtype('int64') dtype('float64')]
[nan dtype('int64') dtype('float64')]
[nan dtype('int64') dtype('float64')]
[nan dtype('int64') dtype('float64')]
[nan dtype('float64') dtype('int64')]
[nan dtype('int64') dtype('float64')]
[nan dtype('int64') dtype('float64')]
[nan dtype('int64') dtype('float64')]
[nan dtype('int64') dtype('float64')]
[nan dtype('int64') dtype('float64')]
[nan dtype('int64') dtype('float64')]
[nan dtype('int64') dtype('float64')]
[nan dtype('int64') dtype('float64')]
[nan dtype('int64') dtype('float64')]
[nan dtype('int64') dtype('float64')]
[nan dtype('int64') dtype('float64')]
[nan dtype('int64') dtype('float64')]
[dtype('O') dtype('int64')]
[nan dtype('int64') dtype('float64')]
[nan dtype('int64') dtype('float64')]
[nan dtype('int64') dtype('float64')]
[nan dtype('int64') dtype('float64')]

In [119]:
for ds in glob(DATASETS):
    ds = os.path.basename(ds)
    df = load_data(ds)
    break

df.dtypes

col_to_dtype['Entity'] = 'object'

apply_data_hierarchy(df, col_to_dtype)

In [104]:
for ds in glob(DATASETS):
    ds = os.path.basename(ds)
    df = load_data(ds)
    break
    ds_dict[ds] = df.dtypes
    all_dtypes.extend(df.dtypes)
    ds_shapes.append(df.shape)

In [51]:
col_to_uniq = get_col_to_uniq(df_cols)

In [61]:
col_to_dtype = data_hierarchy(df, col_to_uniq)

In [90]:
apply_data_hierarchy(df, col_to_uniq)
df

                Net investment (Blum, Ducoing, McLaughlin (2017))  \
Entity    Year
Argentina 1900                                              68.78
          1901                                             124.01
          1902                                              84.41
          1903                                             105.50
          1904                                             156.33
...                                                           ...
World     1996                                             662.06
          1997                                             820.14
          1998                                             819.21
          1999                                             756.54
          2000                                             723.88

                Green investment (Blum, Ducoing, McLaughlin (2017))  \
Entity    Year
Argentina 1900                                              67.61
          1901                                             121.35
          1902                                              82.08
          1903                                             103.17
          1904                                             153.95
...                                                           ...
World     1996                                             373.26
          1997                                             542.90
          1998                                             595.87
          1999                                             508.43
          2000                                             384.01

                Genuine saving (Blum, Ducoing, McLaughlin (2017))  \
Entity    Year
Argentina 1900                                              69.36
          1901                                             123.28
          1902                                              83.99
          1903                                             105.54
          1904                                             156.84
...                                                           ...
World     1996                                             942.80
          1997                                            1110.82
          1998                                            1174.11
          1999                                            1108.51
          2000                                            1005.70

                GSTFP (Blum, Ducoing, McLaughlin (2017))  \
Entity    Year
Argentina 1900                                    611.86
          1901                                    684.19
          1902                                    556.85
          1903                                    671.40
          1904                                    781.99
...                                                  ...
World     1996                                       NaN
          1997                                       NaN
          1998                                       NaN
          1999                                       NaN
          2000                                       NaN

                GDP (Blum, Ducoing, McLaughlin (2017))  \
Entity    Year
Argentina 1900                                 2915.58
          1901                                 3077.47
          1902                                 2930.59
          1903                                 3259.57
          1904                                 3509.50
...                                                ...
World     1996                                16061.67
          1997                                16527.22
          1998                                16944.97
          1999                                17354.72
          2000                                17845.88

                Green carbon (Blum, Ducoing, McLaughlin (2017))
Entity    Year
Argentina 1900                                              NaN
          1901                                              NaN
          1902                                              NaN
          1903                                              NaN
          1904                                              NaN
...                                                         ...
World     1996                                           153.08
          1997                                           318.31
          1998                                           366.52
          1999                                           274.76
          2000                                           142.46

[1212 rows x 6 columns]

In [36]:
df2.head()

,Entity,Year,"Net investment (Blum, Ducoing, McLaughlin (2017))","Green investment (Blum, Ducoing, McLaughlin (2017))","Genuine saving (Blum, Ducoing, McLaughlin (2017))","GSTFP (Blum, Ducoing, McLaughlin (2017))","GDP (Blum, Ducoing, McLaughlin (2017))","Green carbon (Blum, Ducoing, McLaughlin (2017))"
0,Argentina,1900,68.78,67.61,69.36,611.86,2915.58,NaN
1,Argentina,1901,124.01,121.35,123.28,684.19,3077.47,NaN
2,Argentina,1902,84.41,82.08,83.99,556.85,2930.59,NaN
3,Argentina,1903,105.50,103.17,105.54,671.40,3259.57,NaN
4,Argentina,1904,156.33,153.95,156.84,781.99,3509.50,NaN

In [41]:
df2_mod = df2.set_index(["Entity", "Year"])
df2_mod.head()

                Net investment (Blum, Ducoing, McLaughlin (2017))  \
Entity    Year
Argentina 1900                                              68.78
          1901                                             124.01
          1902                                              84.41
          1903                                             105.50
          1904                                             156.33

                Green investment (Blum, Ducoing, McLaughlin (2017))  \
Entity    Year
Argentina 1900                                              67.61
          1901                                             121.35
          1902                                              82.08
          1903                                             103.17
          1904                                             153.95

                Genuine saving (Blum, Ducoing, McLaughlin (2017))  \
Entity    Year
Argentina 1900                                              69.36
          1901                                             123.28
          1902                                              83.99
          1903                                             105.54
          1904                                             156.84

                GSTFP (Blum, Ducoing, McLaughlin (2017))  \
Entity    Year
Argentina 1900                                    611.86
          1901                                    684.19
          1902                                    556.85
          1903                                    671.40
          1904                                    781.99

                GDP (Blum, Ducoing, McLaughlin (2017))  \
Entity    Year
Argentina 1900                                 2915.58
          1901                                 3077.47
          1902                                 2930.59
          1903                                 3259.57
          1904                                 3509.50

                Green carbon (Blum, Ducoing, McLaughlin (2017))
Entity    Year
Argentina 1900                                              NaN
          1901                                              NaN
          1902                                              NaN
          1903                                              NaN
          1904                                              NaN

In [83]:
do_while = 0
for ds in glob(DATASETS):
    do_while += 1
    if do_while == 1:
        ds = os.path.basename(ds)
        df = load_data(ds)
        df = df.set_index(["Entity", "Year"])
        continue
        
    ds = os.path.basename(ds)
    df2 = load_data(ds)
    df2 = df2.set_index(["Entity", "Year"])
    if do_while == 2:
        break
    df = pd.merge(df, df2, how="inner")

In [84]:
df.index

MultiIndex([('Argentina', 1900),
            ('Argentina', 1901),
            ('Argentina', 1902),
            ('Argentina', 1903),
            ('Argentina', 1904),
            ('Argentina', 1905),
            ('Argentina', 1906),
            ('Argentina', 1907),
            ('Argentina', 1908),
            ('Argentina', 1909),
            ...
            (    'World', 1991),
            (    'World', 1992),
            (    'World', 1993),
            (    'World', 1994),
            (    'World', 1995),
            (    'World', 1996),
            (    'World', 1997),
            (    'World', 1998),
            (    'World', 1999),
            (    'World', 2000)],
           names=['Entity', 'Year'], length=1212)

In [51]:
df2.index

MultiIndex([(    'Australia', 1980),
            (    'Australia', 1985),
            (    'Australia', 1990),
            (    'Australia', 1995),
            (    'Australia', 2000),
            (    'Australia', 2005),
            (    'Australia', 2010),
            (    'Australia', 2013),
            (    'Australia', 2014),
            (    'Australia', 2015),
            ...
            ('United States', 1980),
            ('United States', 1985),
            ('United States', 1990),
            ('United States', 1995),
            ('United States', 2000),
            ('United States', 2005),
            ('United States', 2010),
            ('United States', 2013),
            ('United States', 2014),
            ('United States', 2015)],
           names=['Entity', 'Year'], length=360)

In [62]:
%timeit df3 = pd.merge(df, df2, how='inner', on=["Entity", "Year"])

2.75 ms ± 7.89 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [64]:
df3 = pd.merge(df, df2, how='inner', on=["Entity", "Year"])

In [96]:
print(df.memory_usage().sum()/ 1000000.0)
print(df2.memory_usage().sum()/ 1000000.0)
print(df3.memory_usage().sum()/ 1000000.0)

18.804028
0.120224
0.00258

In [67]:
df3.shape

(40, 7)

In [69]:
df2.shape

(360, 1)

In [73]:
df3.head()

                Net investment (Blum, Ducoing, McLaughlin (2017))  \
Entity    Year
Australia 1980                                            1444.69
          1985                                            1023.40
          1990                                            1317.72
          1995                                             800.31
          2000                                            1365.31

                Green investment (Blum, Ducoing, McLaughlin (2017))  \
Entity    Year
Australia 1980                                             824.16
          1985                                             250.57
          1990                                             243.69
          1995                                            -407.96
          2000                                             -77.01

                Genuine saving (Blum, Ducoing, McLaughlin (2017))  \
Entity    Year
Australia 1980                                            1521.15
          1985                                            1096.19
          1990                                            1065.51
          1995                                             532.70
          2000                                             995.23

                GSTFP (Blum, Ducoing, McLaughlin (2017))  \
Entity    Year
Australia 1980                                   4298.90
          1985                                   4119.22
          1990                                   4532.71
          1995                                       NaN
          2000                                       NaN

                GDP (Blum, Ducoing, McLaughlin (2017))  \
Entity    Year
Australia 1980                                14442.83
          1985                                15417.54
          1990                                17434.84
          1995                                18565.91
          2000                                21552.43

                Green carbon (Blum, Ducoing, McLaughlin (2017))  \
Entity    Year
Australia 1980                                              NaN
          1985                                              NaN
          1990                                              NaN
          1995                                              NaN
          2000                                              NaN

               Other social policy areas
Entity    Year
Australia 1980                       0.2
          1985                       0.2
          1990                       0.4
          1995                       0.2
          2000                       0.2

In [72]:
# consolidate code: dtype hierarchy. 


# create empty df to insert the dtypes for each
from itertools import chain 


def get_ds_dict():
    ds_dict = {}
    for ds in glob(DATASETS):
        ds = os.path.basename(ds)
        df = load_data(ds)
        ds_dict[ds] = df.dtypes
    return ds_dict

        
def get_df_cols(ds_dict):
    y_dim =  set((chain(*[dtypes.index for dtypes in ds_dict.values()])))
    x_dim = ds_dict.keys()
    df_cols = pd.DataFrame(index=x_dim, columns=y_dim)
    df_cols = df_cols.astype('object')
    # enter rows to df_cols (index is the dataset, columns are all the fields in every dataset, column values are what dtype the column is) from ds_dict. 
    for ds, cols in ds_dict.items():
        cols = cols.astype('object')
        df_cols.loc[ds, cols.index] = cols
    return df_cols

def get_col_to_uniq(df_cols):
    """ returns map from """
    # gather conflict columns: where there are more than 2 unique values in a column
    s = df_cols.describe(include='all').loc['unique', :]
    s = s[s > 1]
    
    # gather unique values from columns
    col_to_uniq = {}
    for c in s.index:
        col_to_uniq[c] = df_cols.loc[:, c].unique()
    return col_to_uniq
        
def get_col_to_dtype(col_to_uniq, hierarchy=None):
    """ get dtype hierarchy per column
    """
    if hierarchy is None:
        hierarchy = ["object", "float64", "int64", "nan"]
        
    # apply hierarchy to conflict columns
    col_to_dtype = {}
    for col, uniq in col_to_uniq.items():
        col_to_dtype[col] = hierarchy[min([hierarchy.index(str(v)) for v in uniq])]
    return col_to_dtype

def apply_data_hierarchy(df, col_to_dtype, overwrite={}):
    """ apply a data hierarchy on a dataframe
    """
    if not any([str(col) in col_to_dtype for col in df.columns]):
        return df
    
    # create sub_dict from data_hierarchy
    for k,v in overwrite.items():
        col_to_dtype[k] = v
 
    w = {col: col_to_dtype[col] for col in df.columns if col in col_to_dtype}


    return df.astype(w)

In [8]:
ds_dict = get_ds_dict()
df_cols = get_df_cols(ds_dict)
col_to_uniq = get_col_to_uniq(df_cols)
col_to_dtype = get_col_to_dtype(col_to_uniq)

In [76]:
overwrite = {'Forest Transition Phase': 'object'}

# don't have to create a blank df with a do_while
do_while = 0
for ds in glob(DATASETS):
    do_while += 1
    if do_while == 1:
        ds = os.path.basename(ds)
        df = load_data(ds)
        df = df.set_index(["Entity", "Year"])
        df = apply_data_hierarchy(df, col_to_dtype, overwrite=overwrite)
        continue
        
    ds = os.path.basename(ds)
    df2 = load_data(ds)
    df2 = df2.set_index(["Entity", "Year"])
    
    overwrite['ds_name'] = ds
    df2 = apply_data_hierarchy(df2, col_to_dtype, overwrite=overwrite)
    
    try:
        df = pd.merge(df, df2, how='left', on=["Entity", "Year"])
    except ValueError:
        print("MergeError:", ds)

MergeError: Cumulative share of marriages ending in divorce (England and Wales, UK ONS)

In [29]:
df_back = df.copy()

In [30]:
df2 = load_data('Cumulative share of marriages ending in divorce (England and Wales, UK ONS)')

In [31]:
df2.dtypes

Entity                                                                           int64
Year                                                                             int64
Cumulative share of marriages ending in divorce (England and Wales, UK ONS)    float64
dtype: object

In [77]:
lol = apply_data_hierarchy(df2, col_to_dtype, overwrite={"Year": "object"})
df2.dtypes

lol.dtypes

0 to 4 (UN Population Division (2015))      float64
5 to 14 (UN Population Division (2015))     float64
15 to 24 (UN Population Division (2015))    float64
25 to 60 (UN Population Division (2015))    float64
70+ (UN Population Division (2015))         float64
dtype: object

In [78]:
pd.merge(df, lol, how='left', on=["Entity", "Year"])

                Net investment (Blum, Ducoing, McLaughlin (2017))  \
Entity    Year
Argentina 1900                                              68.78
          1901                                             124.01
          1902                                              84.41
          1903                                             105.50
          1904                                             156.33
...                                                           ...
World     1996                                             662.06
          1997                                             820.14
          1998                                             819.21
          1999                                             756.54
          2000                                             723.88

                Green investment (Blum, Ducoing, McLaughlin (2017))  \
Entity    Year
Argentina 1900                                              67.61
          1901                                             121.35
          1902                                              82.08
          1903                                             103.17
          1904                                             153.95
...                                                           ...
World     1996                                             373.26
          1997                                             542.90
          1998                                             595.87
          1999                                             508.43
          2000                                             384.01

                Genuine saving (Blum, Ducoing, McLaughlin (2017))  \
Entity    Year
Argentina 1900                                              69.36
          1901                                             123.28
          1902                                              83.99
          1903                                             105.54
          1904                                             156.84
...                                                           ...
World     1996                                             942.80
          1997                                            1110.82
          1998                                            1174.11
          1999                                            1108.51
          2000                                            1005.70

                GSTFP (Blum, Ducoing, McLaughlin (2017))  \
Entity    Year
Argentina 1900                                    611.86
          1901                                    684.19
          1902                                    556.85
          1903                                    671.40
          1904                                    781.99
...                                                  ...
World     1996                                       NaN
          1997                                       NaN
          1998                                       NaN
          1999                                       NaN
          2000                                       NaN

                GDP (Blum, Ducoing, McLaughlin (2017))  \
Entity    Year
Argentina 1900                                 2915.58
          1901                                 3077.47
          1902                                 2930.59
          1903                                 3259.57
          1904                                 3509.50
...                                                ...
World     1996                                16061.67
          1997                                16527.22
          1998                                16944.97
          1999                                17354.72
          2000                                17845.88

                Green carbon (Blum, Ducoing, McLaughlin (2017))  \
Entity    Year
Argentina 1900                                              NaN
          1901                                              NaN
          1902                                              NaN
          1903                                              NaN
          1904                                              NaN
...                                                         ...
World     1996                                           153.08
          1997                                           318.31
          1998                                           366.52
          1999                                           274.76
          2000                                           142.46

               Other social policy areas  \
Entity    Year
Argentina 1900                       NaN
          1901                       NaN
          1902                       NaN
          1903                       NaN
          1904                       NaN
...                                  ...
World     1996                       NaN
          1997                       NaN
          1998                       NaN
          1999                       NaN
          2000                       NaN

                Nominal rates for domestic letters (United States Postal Service (2018))  \
Entity    Year
Argentina 1900                                                NaN
          1901                                                NaN
          1902                                                NaN
          1903                                                NaN
          1904                                                NaN
...                                                           ...
World     1996                                                NaN
          1997                                                NaN
          1998                                                NaN
          1999                                                NaN
          2000                                                NaN

                Nominal rates for stamped cards and postcards (United States Postal Service (2018))  \
Entity    Year
Argentina 1900                                                NaN
          1901                                                NaN
          1902                                                NaN
          1903                                                NaN
          1904                                                NaN
...                                                           ...
World     1996                                                NaN
          1997                                                NaN
          1998                                                NaN
          1999                                                NaN
          2000                                                NaN

                Real rates for stamped cards and postcards (United States Postal Service (2018))  \
Entity    Year
Argentina 1900                                                NaN
          1901                                                NaN
          1902                                                NaN
          1903                                                NaN
          1904                                                NaN
...                                                           ...
World     1996                                                NaN
          1997                                                NaN
          1998                                                NaN
          1999                                                NaN
          2000                                                NaN

                ...  0 to 4 (UN Population Division (2015))_x  \
Entity    Year  ...
Argentina 1900  ...                                       NaN
          1901  ...                                       NaN
          1902  ...                                       NaN
          1903  ...                                       NaN
          1904  ...                                       NaN
...             ...                                       ...
World     1996  ...                                614734.981
          1997  ...                                608791.033
          1998  ...                                606915.726
          1999  ...                                606605.033
          2000  ...                                606188.356

               5 to 14 (UN Population Division (2015))_x  \
Entity    Year
Argentina 1900                                       NaN
          1901                                       NaN
          1902                                       NaN
          1903                                       NaN
          1904                                       NaN
...                                                  ...
World     1996                               1219785.321
          1997                               1232641.789
          1998                               1240140.794
          1999                               1242631.471
          2000                               1241294.804

                15 to 24 (UN Population Division (2015))_x  \
Entity    Year
Argentina 1900                                         NaN
          1901                                         NaN
          1902                                         NaN
          1903                                         NaN
          1904                                         NaN
...                                                    ...
World     1996                                 1041917.085
          1997                                 1049282.855
          1998                                 1057989.717
          1999                                 1069561.326
          2000                                 1084629.736

                25 to 60 (UN Population Division (2015))_x  \
Entity    Year
Argentina 1900                                         NaN
          1901                                         NaN
          1902                                         NaN
          1903                                         NaN
          1904                                         NaN
...                                                    ...
World     1996                                 2701248.227
          1997                                 2757918.339
          1998                                 2813894.264
          1999                                 2870423.471
          2000                                 2927829.487

               70+ (UN Population Division (2015))_x  \
Entity    Year
Argentina 1900                                   NaN
          1901                                   NaN
          1902                                   NaN
          1903                                   NaN
          1904                                   NaN
...                                              ...
World     1996                            171023.894
          1997                            177082.696
          1998                            183377.746
          1999                            189622.989
          2000                            195714.507

                0 to 4 (UN Population Division (2015))_y  \
Entity    Year
Argentina 1900                                       NaN
          1901                                       NaN
          1902                                       NaN
          1903                                       NaN
          1904                                       NaN
...                                                  ...
World     1996                                614734.981
          1997                                608791.033
          1998                                606915.726
          1999                                606605.033
          2000                                606188.356

                5 to 14 (UN Population Division (2015))_y  \
Entity    Year
Argentina 1900                                        NaN
          1901                                        NaN
          1902                                        NaN
          1903                                        NaN
          1904                                        NaN
...                                                   ...
World     1996                                1219785.321
          1997                                1232641.789
          1998                                1240140.794
          1999                                1242631.471
          2000                                1241294.804

                15 to 24 (UN Population Division (2015))_y  \
Entity    Year
Argentina 1900                                         NaN
          1901                                         NaN
          1902                                         NaN
          1903                                         NaN
          1904                                         NaN
...                                                    ...
World     1996                                 1041917.085
          1997                                 1049282.855
          1998                                 1057989.717
          1999                                 1069561.326
          2000                                 1084629.736

                25 to 60 (UN Population Division (2015))_y  \
Entity    Year
Argentina 1900                                         NaN
          1901                                         NaN
          1902                                         NaN
          1903                                         NaN
          1904                                         NaN
...                                                    ...
World     1996                                 2701248.227
          1997                                 2757918.339
          1998                                 2813894.264
          1999                                 2870423.471
          2000                                 2927829.487

                70+ (UN Population Division (2015))_y
Entity    Year
Argentina 1900                                    NaN
          1901                                    NaN
          1902                                    NaN
          1903                                    NaN
          1904                                    NaN
...                                               ...
World     1996                             171023.894
          1997                             177082.696
          1998                             183377.746
          1999                             189622.989
          2000                             195714.507

[1212 rows x 4179 columns]